<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quadratic Equations!</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script>
    submit = function(){
	  fname = $("#fname").val()
    lname = $("#lname").val()
    phone = $("#phone").val()
    zip_code = $("#zip_code").val()

	  dictionary = {fname: fname, lname:lname, phone: phone, zip_code: zip_code}

	  $.post({
	    url: "/response_to_sign_up",
		contentType: "application/json",
		data: JSON.stringify(dictionary),
		success: function(result){
		  $(".hidden").css("display","inline").html(result.response);
		}
	  });
	}
  </script>
  <style>
    .hidden {
	  display: none;
	}
  </style>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Rainbow Alert!</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">crisp air</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">the play of light</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">simple joy</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Rainbow Alert!</h1>
          <hr>
          <p>Just plug in your phone number and zip code and you'll be alerted when there is a rainbow outside!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Let's Do It!</a>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Rainbow Alert!</h2>
            <hr class="light">
            <p class="text-faded">Never miss the joy of a rainbow</p>
            <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Find your pot of gold</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Your rainbow info:</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
              <h3>first name</h3>
              <p class="text-muted"><input type="text" placeholder="first name" id="fname"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
              <h3>last name</h3>
              <p class="text-muted"><input type="text" placeholder="last name" id="lname"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
              <h3>phone number</h3>
              <p class="text-muted"><input type="text" placeholder="phone number" id="phone"></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
              <h3>zip code</h3>
              <p class="text-muted"><input type="text" placeholder="zip code" id="zip_code"></p>
            </div>
          </div>
        </div>
		<br>
		<div class="col-lg-8 mx-auto text-center">
		  <a class="btn btn-primary btn-xl js-scroll-trigger" onclick="submit();">Sign up for alerts</a>
		</div>
	    <div class="col-lg-8 mx-auto text-center">
		  	<h3><span class="hidden"></span></h3>
		</div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Supported counties:</h2>
            <hr class="light">
			{% for state in counties.keys() %}
			<p>{{ state }}'s supported counties are {{ counties[state] }} </p>
			{% endfor %}
      <!-- {% for state in counties %}
			<p>{{ state }}'s supported counties are {{ counties[state] }} </p>
			{% endfor %} -->
          </div>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/popper/popper.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

  </body>

</html>
