<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quadratic Equations!</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script>
    submit = function(){
	  fname = $("#fname").val()
    lname = $("#lname").val()
    phone = $("#phone").val()
    zip_code = $("#zip_code").val()

	  dictionary = {fname: fname, lname:lname, phone: phone, zip_code: zip_code}

	  $.post({
	    url: "/response_to_sign_up",
		contentType: "application/json",
		data: JSON.stringify(dictionary),
		success: function(result){
		  $(".hidden").css("display","inline").html(result.response);
		}
	  });
	}
  </script>
  <style>
    .hidden {
	  display: none;
	}
  </style>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">seattle rainbow</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">text alerts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#tips">rainbow tips</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">about</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">infinity rainbows</h1>
          <hr>
          <p class="text-muted">Your chances of spotting a rainbow in Seattle right now are {{prob_words}}.</p>
          <p>{{message}}</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#signup">sign up for text alerts</a>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="signup">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">infinity rainbow alerts</h2>
            <hr class="light">
            <p class="text-faded">Never miss the joy of a rainbow - COMING SOON</p>
            <!-- <a class="btn btn-default btn-xl js-scroll-trigger" href="#tips">Find your pot of gold</a> -->
          </div>
        </div>
      </div>
    </section>

    <section id="tips">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">rainbow spotting tips:</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-sun-o text-primary sr-icons"></i>
              <h3>sun</h3>
              <p class="text-muted"> Rainbows only appear when the sun is at 42 degrees or less. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-tint text-primary sr-icons"></i>
              <h3>moisture</h3>
              <p class="text-muted"> Rainbows thrive in light showers and mists.  </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-thermometer-half text-primary sr-icons"></i>
              <h3>temperature</h3>
              <p class="text-muted"> Rainbows need water, not ice. You won't see any when it's too cold. </p>
            </div>
          </div>
        </div>
		<br>
		<div class="col-lg-8 mx-auto text-center">

		</div>
	    <div class="col-lg-8 mx-auto text-center">
		  	<h3><span class="hidden"></span></h3>
		</div>
      </div>
    </section>

    <section class="p-0" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">about</h2>
            <hr class="light">
            <p class="text-muted">Infinity Rainbows uses a random forest model to predict when rainbows will appear. The training dataset was assembled based on timestamps from photos of rainbows posted to social media platforms. The website, built with Flask, displays an updated probability each hour based on the most recent weather report. A (future) Twilio integration allows Seattleites to sign up to receive text notifications when there is a high probability of rainbows.</p>
            <p class="text-muted">Infinity Rainbows was created by Mary Barnes as a capstone project for the Galvanize Data Science Immersive. </p>
            <h5> The current probability of spotting a rainbow is: </h5>
            <p class="text-muted">{{probability}}</p>
            <p class="text-muted">Text message alerts activate when the probability of rainbows is above 0.6.</p>

          </div>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/popper/popper.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

  </body>

</html>
